.wrapper {
    width: 100%;
    .img {
        overflow: hidden;
        padding: var(--offset-padding-page);
        padding-top: var(--offset-top);
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .topic {
        padding: var(--offset-padding-page);
        .btn-more {
            margin-left: 50%;
            transform: translateX(-50%);
            border-color: var(--link-text);
            font-size: 1.2rem;
            &:hover {
                background-color: transparent;
                opacity: 0.8;
            }
        }
        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 30px;
            margin: 20px 0;
        }
        .title {
            font-size: 2rem;
            color: #fff;
        }
    }
}
@media screen and (max-width: 1000px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr !important;
        gap: 16px !important;
    }
}
@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr 1fr !important;
    }
}
@media screen and (max-width: 576px) {
    .grid {
        gap: 10px !important;
    }
}
