.wrapper {
    display: flex;
    justify-content: center;
    padding: 15px;
    cursor: pointer;
    .carousel-img {
        width: 100%;
        border-radius: 8px;
        object-fit: cover;
    }
}
@media screen and (max-width: 576px) {
    .wrapper {
        max-height: 250px;
    }
}
