.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--offset-padding-page);
    position: relative;
    padding-top: calc(var(--offset-top) + 40px);
    .bg-blur,
    .bg-alpha,
    .bg-alpha1 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 380px;
        z-index: 0;
        display: block;
    }
    .bg-blur {
        background: url(https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.7.28/static/media/new-release-bg.73d8f976.jpg)
            top/cover no-repeat;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
    }
    .bg-alpha {
        background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 37%, var(--layout-bg));
    }
    .bg-alpha1 {
        background-image: linear-gradient(180deg, var(--layout-bg), var(--layout-bg));
        opacity: 0.8;
    }
    .header {
        display: flex;
        align-items: center;
        margin: 20px;
        position: relative;
        .title {
            margin-right: 10px;
            text-transform: capitalize;
        }
    }
    .content {
        width: 100%;
        position: relative;
    }
}
