.wrapper {
    width: 100%;
    margin-top: var(--offset-padding-page);
    .banner {
        position: relative;
        min-height: 200px;
        max-height: 300px;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
        }
        .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 50%;
            background: linear-gradient(to top, rgb(23, 15, 35, 1), rgb(23, 15, 35, 0.5), rgb(23, 15, 35, 0.02));
        }
    }
    .section {
        z-index: 1;
        position: relative;
        margin-top: -90px;
    }
}
